<div class="loginPage">
  <div class="container">
    <h1>Welcome back</h1>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <% flash.each do |key, value| %>
           <div class="flash <%= key %>"><%= value %></div>
        <% end %>

      <div class="mb3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "textinput w-100", autofocus: true, autocomplete: "email" %>
        <p class="texthelp"> alumni.sfai.edu required </p>
      </div>

      <div class="mb3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "textinput w-100", autocomplete: "current-password" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="mb3">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="flex justify-between">
        <div class="flex flex-column justify-around">
          <%= render "buyers/shared/links" %>
        </div>
      <%= f.submit "Log in", class: "button-primary bg-mustard w4" %>
    </div>
    <% end %>

  </div>
</div>
