<div class="loginPage">
  <div class="container">
    <h1>Resend Confirmation</h1>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="mb4">
        <%= f.label :email, class: "label" %>
        <%= f.email_field :email, class: "textinput", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
        <p class="texthelp"> sfai.edu or artists.sfai.edu email required </p>
      </div>

      <div class="flex justify-between">
        <%= render "artists/shared/links" %>
        <%= f.submit "Submit", class: "button-primary bg-moss w4" %>
      </div>
    <% end %>
  </div>
</div>
