<div class="loginPage">
  <div class="container">
    <h1>Edit Account</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="mb3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "textinput w-100", autofocus: true, autocomplete: "email" %>
        <p class="texthelp"> alumni.sfai.edu email required </p>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="mb3">
          <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, class: "textinput w-100", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <p class="texthelp"> <%= @minimum_password_length %> characters minimum </p>
          <% end %>
      </div>

      <div class="mb3">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, class: "textinput", autocomplete: "new-password" %>
      </div>

      <div class="mb4">
        <%= f.label :current_password %>*
        <%= f.password_field :current_password, class: "textinput", autocomplete: "current-password" %>
        <p class="texthelp"> * required </p>
      </div>

      
      <div class="flex justify-end">
        <%= f.submit "Update", class: "button-primary bg-mustard w4" %>
      </div>
    <% end %>

    <h3>Delete Account</h3>
    <p>WARNING: This will permanently delete your account and all associated data.</p>
    <div class="flex justify-end">
      <%= button_to "Delete", registration_path(resource_name), data: { confirm: "Are you sure?" },
          method: :delete, class: "button-primary bg-gray hover-bg-red w4" %>
    </div>
  </div>
</div>
