<div class="loginPage">
  <div class="container">
    <h1>Sign up</h1>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="mb3">
        <%= f.label :email %>
        <%= f.email_field :email, class: "textinput w-100", autofocus: true, autocomplete: "email" %>
        <p class="texthelp"> alumni.sfai.edu required </p>
      </div>

      <div class="mb3">
          <%= f.label :password %>
          <%= f.password_field :password, class: "textinput w-100", autocomplete: "new-password" %>
          <% if @minimum_password_length %>
            <p class="texthelp"> <%= @minimum_password_length %> characters minimum </p>
          <% end %>
      </div>


      <div class="mb4">
        <%= f.label :password_confirmation, class: "mb1" %>
        <%= f.password_field :password_confirmation, class: "textinput w-100", autocomplete: "new-password" %>
      </div>

      <div class="flex justify-between">
        <div class="flex flex-column justify-around">
        <%= render "buyers/shared/links" %>
        </div>
        <%= f.submit "Sign up", class: "button-primary bg-mustard w4" %>
      </div>
    <% end %>

  </div>
</div>
