<div class="loginPage">
  <div class="container">
    <h1>Welcome back</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
        <% flash.each do |key, value| %>
           <div class="flash <%= key %>"><%= value %></div>
        <% end %>
        <br />
      <div class="field">
        <%= f.label :email %><br /><br />
        <%= f.email_field :email, class: "field", autofocus: true, autocomplete: "email", value: "asmith@artists.sfai.edu" %>
      </div>

      <br /><br /><br />

      <div class="field">
        <%= f.label :password %><br /><br />
        <%= f.password_field :password, class: "field", autocomplete: "current-password", value: "password" %>
      </div>

      <br /><br /><br />

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "button" %>
      </div>
    <% end %>

    <br /><br />

    <%= render "artists/shared/links" %>
  </div>
</div>
