<div class="loginPage">
  <div class="container">
    <h1>Change your password</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb3">
        <%= f.label :password %>
        <%= f.password_field :password, class: "textinput w-100", autofocus: true, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <p class="texthelp"> <%= @minimum_password_length %> characters minimum </p>
        <% end %>
      </div>

      <div class="mb4">
        <%= f.label :password_confirmation, "Confirm new password" %>
        <%= f.password_field :password_confirmation, class: "textinput w-100", autocomplete: "off" %>
      </div>

      <div class="flex justify-between">
        <%= render "artists/shared/links" %>
        <%= f.submit "Submit", class: "button-primary bg-moss w4" %>
      </div>
    <% end %>
  </div>
</div>
