<div class="loginPage">
  <div class="container">
    <h1>Change your password</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.label :password, "New password" %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br /><br />
        <% end %>
        <%= f.password_field :password, class: "field", autofocus: true, autocomplete: "new-password" %>
      </div>

      <br /><br /><br /><br />

      <div class="field">
        <%= f.label :password_confirmation, "Confirm new password" %><br /><br />
        <%= f.password_field :password_confirmation, class: "field", autocomplete: "off" %>
      </div>

      <br /><br /><br /><br />

      <div class="actions">
        <%= f.submit "Change my password", class: "button" %>
      </div>
    <% end %>

    <br /><br />

    <%= render "artists/shared/links" %>
  </div>
</div>
