<div class="loginPage">
  <div class="container">
    <h1>Forgot your password?</h1>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br /><br />
        <%= f.email_field :email, class: "field", autofocus: true, autocomplete: "email" %>
      </div>

      <br /><br /><br />

      <div class="actions">
        <%= f.submit "Reset Password", class: "button" %>
      </div>
    <% end %>

    <br /><br />

    <%= render "artists/shared/links" %>
  </div>
</div>
