<div class="loginPage">
  <div class="container">
    <h1>Resend confirmation instructions</h1>

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email, class: "label" %><br /><br />
        <%= f.email_field :email, class: "field", autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <br /><br /><br /><br />

      <div class="actions">
        <%= f.submit "Resend confirmation instructions", class: "button" %>
      </div>
    <% end %>

    <br /><br />
    <%= render "buyers/shared/links" %>
  </div>
</div>
