<div class="loginPage">
  <div class="container">
    <h1>Resend unlock instructions</h1>

    <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="mb4">
        <%= f.label :email %>
        <%= f.email_field :email, class: "textinput w-100", autofocus: true, autocomplete: "email" %>
      </div>

      <div class="flex justify-between">
        <%= render "buyers/shared/links" %>
        <%= f.submit "Submit", class: "button-primary bg-mustard w4" %>
      </div>
    <% end %>
  </div>
</div>
