<!-- Put things in here that you want in every artist page -->
<!DOCTYPE html>
<html>
  <head>
    <title>SFAI - Artist Portal</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_link_tag 'https://unpkg.com/normalize.css@^4.1.1' %>
    <%= stylesheet_link_tag 'https://unpkg.com/@blueprintjs/core@^1.11.0/dist/blueprint.css' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' %>

  </head>
  <body>
    <%= yield %>
  </body>
</html>
